body {
     margin: 0px;
     padding: 0px;
 }
 
 html {
     scroll-behavior: smooth;
 }
 /*============================== preloader start ====================== */
 
 #preloader {
   
      background-image: linear-gradient(to bottom, #151845, #181d5e, #282e68, #242c7e);
     /* background-color: #151845; */
     width: 100%;
     height: 100%;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
 }
 
 .moon {
     background-color: #398eff;
     height: 170px;
     width: 170px;
     border-radius: 50%;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     overflow: hidden;
     z-index: 1;
 }
 
 .creater {
     background-color: #1ca4f9;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     position: relative;
 }
 
 .creater::before {
     content: "";
     position: absolute;
     height: 25px;
     width: 25px;
     border: none;
     border-radius: 50%;
     box-shadow: -5px 0 0 2px #3184ff;
     top: 2px;
     left: 7px;
 }
 
 .c1 {
     top: 27px;
     left: 90px;
     transform: scale(0.9);
     -webkit-transform: scale(0.9);
 }
 
 .c2 {
     transform: scale(0.6);
     bottom: 15px;
     left: 61px;
 }
 
 .c3 {
     transform: scale(0.75);
     left: 15px;
 }
 
 .c4 {
     transform: scale(1.18);
     left: 107px;
     top: 32px;
 }
 
 .c5 {
     transform: scale(0.67);
     left: 33px;
     bottom: 4px;
 }
 
 .shadow {
     height: 190px;
     width: 190px;
     box-shadow: 21px 0 0 5px rgb(0, 0, 0, 0.15);
     border-radius: 50%;
     position: relative;
     bottom: 157.5px;
     right: 46px;
 }
 
 .eye {
     height: 12px;
     width: 12px;
     background-color: #0b0b0e;
     border-radius: 50%;
     position: relative;
 }
 
 .e1 {
     bottom: 255px;
     left: 59px;
 }
 
 .er {
     bottom: 267px;
     left: 101px;
 }
 
 .mouth {
     height: 5px;
     width: 10px;
     position: relative;
     border: 3px solid #161646;
     border-top: none;
     bottom: 262px;
     left: 79px;
     border-radius: 0 0 10px 10px;
 }
 
 .blush {
     height: 7.5px;
     width: 7.5px;
     background-color: #1CA4F9;
     position: relative;
     border-radius: 50%;
 }
 
 .b1 {
     bottom: 273px;
     left: 50px;
 }
 
 .b2 {
     bottom: 281px;
     left: 115px;
 }
 
 .orbit {
     color: black;
     height: 280px;
     width: 280px;
     border-radius: 50%;
     position: absolute;
     margin: auto;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     animation: rotating 5s infinite linear;
 }
 
 @keyframes rotating {
     100% {
         transform: rotate(360deg);
     }
 }
 
 .rocket {
     background-color: #fafcf2;
     width: 25px;
     height: 50px;
     border-radius: 50% 50% 0 0;
     position: relative;
     left: -11px;
     top: 115px;
 }
 
 .rocket::before {
     position: absolute;
     content: "";
     background-color: #397EFE;
     height: 20px;
     width: 55px;
     right: -15px;
     border-radius: 50% 50% 0 0;
     bottom: 0;
     z-index: -1;
 }
 
 .rocket::after {
     position: absolute;
     content: "";
     background-color: #397EFF;
     height: 4px;
     width: 15px;
     right: -15px;
     border-radius: 0 0 2px 2px;
     bottom: -4px;
     z-index: 4.3px;
 }
 
 .height {
     height: 10px;
     width: 10px;
     background-color: #151845;
     border: 2px solid #8802ec;
     border-radius: 50%;
     position: relative;
     top: 17px;
     left: 5px;
 }
 /*============================== preloader end ====================== */
 /*===== margin: top, right, bottom, left;==== */
 /*============================ Navbar start ===========================*/
 
 .nav_bar {
     border: 2px solid rgb(24, 24, 71);
     display: flex;
     box-shadow: 2px 2px 5px black;
     background-image: linear-gradient(to right bottom, rgb(61, 111, 228), rgb(0, 140, 255), rgb(0, 255, 242));
     margin-bottom: 0px;
 }
 
 .club_name {
     padding: 10px 15px 15px 15px;
     margin: 0px;
     font-size: 2.5vw;
     color: rgb(242, 242, 248);
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
     text-shadow: 8px 8px 5px black;
     word-wrap: none;
 }
 
 .nav_bar .nav_list {
     margin: 0 20px 0 20%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-content: left;
     list-style: none;
 }
 
 .nav_item {
     padding: 21px 0px 0px 0px;
     height: 10px;
     font-size: 1.3vw;
 }
 
 .nav_link {
     width: 160px;
     text-decoration: none;
     padding: 0px;
     box-sizing: border-box;
     color: black;
     float: right;
     font-family: 'Balsamiq Sans', cursive;
     z-index: -1;
 }
 
 .nav_link:hover {
     color: #d3d2d2;
 }
 
 .fas {
     overflow: hidden;
     width: 28px;
     height: 20px;
     animation: rotate 1s infinite ease-in-out;
 }
 
 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }
     25% {
         transform: rotate(20deg);
     }
     50% {
         transform: rotate(-20deg);
     }
     75% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(0deg);
         /* font-size: 22px; */
     }
 }
 /*============================ Navbar End ===========================*/
 
 /* =============Welcome page start ============ */
 
 .welcome_page {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin: 0px;
     padding: 0px;
     height: 47rem;
     background-color: rgb(118, 137, 223);
     font-weight: bolder;
     background-image: url("https://wallup.net/wp-content/uploads/2015/12/87620-space-space_station-artificial_gravity-fantasy_art-digital_art-astronaut-spacesuit-landscape-clouds-nature-lake-forest-stars-futuristic-tunnel-wormholes.jpg");
     background-repeat: no-repeat;
     opacity: 1;
     background-position: center;
     background-size: cover;
     box-shadow: 0 5px 10px 0 black;
 }
 
 .welcome_page h1 {
     text-align: center;
     font-size: 4.2vw;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #f2f2f2;
     margin-top: 100px;
 }
 
 .welcome_page .welcome_button {
     width: 16vw;
     height: 2.8vw;
     margin-top: 50px;
     font-size: 1.5vw;
     color: rgb(242, 242, 248);
     font-family: 'Baloo Bhaijaan 2', cursive;
     background-image: linear-gradient(to right bottom, rgb(34, 34, 39), rgb(79, 78, 80));
     cursor: pointer;
     border-radius: 8px;
 }
 
 .welcome_page .welcome_button:hover {
     font-weight: bolder;
 }
 /* ==========Welcome page end============= */
 /* ===================Blog section start==================== */
 
 .blog_section {
     width: auto;
     margin: 0px;
     padding: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 
 .section_name {
     text-align: center;
     font-size: 3.5vw;
     font-family: 'Bakbak One', cursive;
 }
 
 .section_box {
     width: 90%;
     height: 20vw;
     background-color: whitesmoke;
     border-radius: 10px;
     margin: auto;
     margin: 10px 0px 15px 0px;
     box-shadow: 0 4px 8px 0 rgb(0, 0, 0.2), 0 6px 18px 0 rgb(0, 0, 0, 0.19);
 }
 
 .blog_topic {
     font-size: 2.8vw;
     font-family: 'Balsamiq Sans', cursive;
     text-align: center;
 }
 
 .blog_p {
     font-size: 1.2vw;
     font-family: 'Changa One', cursive;
     text-align: center;
     padding: 0px 10px 0px 10px;
 }
 
 .blog_section .section_box .blog_button {
     width: 16%;
     padding: 5px;
     height: 2.8vw;
     margin: auto;
     border-radius: 5px;
     font-size: 1.2vw;
     display: block;
     align-items: center;
     align-self: center;
     font-family: 'Balsamiq Sans', cursive;
     background-image: linear-gradient(to right bottom, rgb(62, 185, 62), rgb(149, 214, 149));
     box-shadow: 5px 10px 18px #1a191988;
     cursor: pointer;
 }
 
 .blog_button:hover {
     font-weight: bold;
     font-size: 22px;
 }
 
 .blog_button::selection {
     color: blue;
 }
 
 .blog_img {
     height: 94%;
     width: 34%;
     margin: 5px 10px 5px 5px;
     border-top-left-radius: 90px;
     border-bottom-right-radius: 50px;
     float: right;
     box-shadow: 0 4px 8px 0 rgb(0, 0, 0.2), 0 6px 18px 0 rgb(0, 0, 0, 0.19);
 }
 /* =========================Blog section end========================== */
 /* ============================  form start  ==========================*/
 
 fieldset {
     background-color: #f2f2f2;
 }
 
 .form_name {
     text-align: center;
     font-size: 4.1vw;
     font-family: 'Baloo Bhaijaan 2', cursive;
 }
 
 .form {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 550px;
 }
 
 input {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 10px 10px 10px 10px;
     padding: 5px 5px 5px 10px;
     width: 350px;
     height: 37px;
     font-size: 18px;
     border-radius: 5px;
     box-shadow: 5px 10px 15px #57555588;
     font-family: 'Ubuntu', sans-serif;
 }
 
 textarea {
     margin: 10px 10px 10px 10px;
     padding: 5px 5px 5px 10px;
     font-size: 20px;
     border-radius: 5px;
     box-shadow: 5px 10px 15px #57555588;
     font-family: 'Ubuntu', sans-serif;
     /* box-shadow: 0 4px 8px 0 rgb(0, 0, 0.2), 0 6px 18px 0 rgb(0, 0, 0, 0.19); */
 }
 
 input[type=submit] {
     background-image: linear-gradient(to right bottom, rgb(43, 41, 41), rgb(68, 64, 65), rgb(91, 87, 92));
     width: 370px;
     height: 40px;
     font-size: 20px;
     cursor: pointer;
     box-shadow: 5px 10px 18px #57555588;
     font-family: 'Bakbak One', cursive;
     color: #f2f2f2;
     /* box-shadow:0 4px 8px 0 rgb(0, 0, 0.2), 0 6px 18px 0 rgb(0, 0, 0, 0.19); */
 }
 
 input[type=submit]:hover {
     font-size: 21px;
 }
 /* ========form end ========== */
 /* ===========footer start========== */
 
 footer {
     width: auto;
     height: 60%;
     background-image: linear-gradient(to right bottom, rgb(24, 23, 23), rgb(46, 42, 42), rgb(79, 78, 80));
 }
 
 #contact {
     padding-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .info {
     display: flex;
     flex-direction: column;
     text-align: center;
     color: #f2f2f2;
     margin: auto;
 }
 
 .info p {
     padding: 0;
     margin: 0;
     font-size: 1.3vw;
     font-family: 'Balsamiq Sans', cursive;
 }
 
 .footer_icon {
     display: flex;
     flex-direction: row;
     align-items: center;
     color: #f2f2f2;
     text-decoration: none;
 }
 
 .footer_icon i {
     color: #f2f2f2;
     align-items: center;
     padding: 1.2rem 1rem 1.2rem 1rem;
     margin: auto;
     display: flex;
     flex-direction: row;
     font-size: 2.4vw;
     text-decoration: none;
     animation: footer_rotate 1s infinite ease-in-out;
 }
 
 @keyframes footer_rotate {
     0% {
         transform: rotate(0deg);
     }
     25% {
         transform: rotate(20deg);
     }
     50% {
         transform: rotate(-20deg);
     }
     75% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(0deg);
     }
 }
 
 .thankYou {
     margin: auto;
     padding: 0 0 14px 0;
     font-size: 1.6vw;
     font-family: 'Bakbak One', cursive;
     color: #f2f2f2;
 }
 
 .drop-cont {
     display: none;
 }
 /*============================ media query=============================== */
 
 @media (max-width:1280px) {
     .nav_bar .nav_list {
         margin: 0 10px 0 13%;
     }
     .fas {
        height: 14px;
        width: 20px
    }
 }
 
 @media (max-width:1140px) {
     .nav_bar .nav_list {
         margin: 0 10px 0 7%;
     }
     .stickyIcon i {
         font-size: 40px;
         border-bottom-right-radius: 15px;
         border-top-left-radius: 15px;
     }
 }
 
 @media (max-width:1060px) {
     .welcome_page h1 {
         font-size: 6vw;
     }
     .welcome_page .welcome_button {
         width: 20vw;
         height: 4vw;
         margin-top: 50px;
         font-size: 2vw;
     }
 }
 /*=======   Adding horizontal lines menu for mobile view   =======*/
 
 @media (max-width:1060px) {
     .nav_bar .nav_list {
         margin: 0 4% 0 42%;
     }
     .bar {
         Height: 3px;
         Width: 40px;
         Background-color: #ffffff;
         Margin: 8px 8px;
     }
     .bar_container {
         display: block;
         float: right;
         height: fit-content;
         padding: 15px 10px 10px 10px;
     }
     .club_name {
         font-size: 4.5vw;
     }
     .drop-cont {
         Padding: 60px 20px 0px 0;
         top: 55px;
         Float: Left;
         Position: Absolute;
         Right: 10px;
         display: none;
       
         background-image: url(https://wallpapertag.com/wallpaper/full/a/a/d/417434-download-free-starry-sky-background-1920x1080.jpg);
         Font-size: 20px;
         Color: #f7f4f4;
         Z-index: 1;
         box-shadow: 30px 30px 35px 0px rgba(0, 0, 0, 100.0);
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 15px;
         width: 200px;
         height:200px;
         
     }
     .dropdown:hover .drop-cont {
         display: block;
     }
     .fas {
       
        width: 28px;
        height: 20px;
     }
 }
 
 @media (max-width:1060px) {
     .nav_item {
         display: none;
     }
     .nav_link{
        color: #f2f2f2;
        margin-bottom: 15px;
    }
 }
 /* =================================== media query for mobile ================================ */
 
 @media (max-width:980px) {
    
     .nav_item {
         font-size: 1.5vw;
         padding: 15px 0px 1px 3px;
     }
     .club_name {
         font-size: 3.5vw;
     }
     /* ===============welcome page ===============*/
     .welcome_page h1 {
         font-size: 6vw;
     }
     .welcome_page .welcome_button {
         width: 20vw;
         height: 4vw;
         margin-top: 50px;
         font-size: 2vw;
     }
     /*=============== blog section ===============*/
     .section_box {
         margin: 15px 0 10px 0;
         width: 90%;
         height: 550px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
     .section_name {
         font-size: 4vw;
     }
     .blog_section .section_box .blog_button {
         width: 180px;
         font-size: 2vw;
         height: 43px;
     }
     .blog_img {
         height: 250px;
         width: 350px;
         margin: 5px 10px 5px 5px;
     }
     .blog_topic {
         font-size: 3.3vw;
     }
     .blog_p {
         font-size: 2vw;
     }
     /*=============== footer ===============*/
     .info p {
         font-size: 1.9vw;
     }
     .footer_icon i {
         font-size: 3.5vw;
     }
     .thankYou {
         font-size: 2.5vw;
     }
 }
 /* =================media query for normal devices ================== */
 
 @media (max-width: 775px) {
     #preloader {
         width: 100%;
         height: 100%;
     }
     .moon {
         height: 120px;
         width: 120px;
     }
     .creater {
         height: 30px;
         width: 30px;
     }
     .c1 {
         top: 27px;
         left: 90px;
     }
     .c2 {
         bottom: 23px;
         left: 64px;
     }
     .c3 {
         left: 2px;
     }
     .c4 {
         left: 107px;
         top: 32px;
     }
     .c5 {
         left: 33px;
         bottom: 4px;
     }
     .shadow {
         height: 195px;
         width: 160px;
         bottom: 151.5px;
         right: 50px;
     }
     .eye {
         height: 10px;
         width: 10px;
         background-color: #0b0b0e;
         border-radius: 50%;
         position: relative;
     }
     .e1 {
         bottom: 285px;
         left: 38px;
     }
     .er {
         bottom: 298px;
         left: 75px;
     }
     .mouth {
         height: 5px;
         width: 10px;
         bottom: 288px;
         left: 55px;
     }
     .orbit {
         height: 260px;
         width: 240px;
         margin: auto;
     }
     .rocket {
         width: 25px;
         height: 50px;
     }
     /* preloader */
     .nav_item {
         font-size: 1.5vw;
         padding: 15px 0px 10px 3px;
     }
     .club_name {
         font-size: 3.7vw;
     }
     /* ===============welcome page ===============*/
     .welcome_page {
         height: 100vw;
     }
     .welcome_page h1 {
         font-size: 7vw;
     }
     .welcome_page .welcome_button {
         width: 28vw;
         height: 6vw;
         margin-top: 50px;
         font-size: 3vw;
     }
     /*=============== blog section ===============*/
     .section_box {
         width: 90%;
         height: 480px;
     }
     .section_name {
         font-size: 4.9vw;
     }
     .blog_section .section_box .blog_button {
         width: 200px;
         font-size: 2.7vw;
         height: 45px;
     }
     .blog_img {
         height: 200px;
         width: 360px;
     }
     .blog_topic {
         font-size: 4.3vw;
         margin: 20px 0 3px 0;
     }
     .blog_p {
         font-size: 2.2vw;
     }
     /* ==============feedback form ============== */
     .form_name {
         font-size: 6vw;
     }
     input {
         width: 320px;
         height: 33px;
         font-size: 16px;
     }
     textarea {
         font-size: 17px;
         width: 320px;
     }
     input[type=submit] {
         width: 335px;
         height: 40px;
         font-size: 2.5vw;
     }
     /* =============== footer =============== */
     .info p {
         font-size: 2.3vw;
     }
     .footer_icon i {
         font-size: 3.8vw;
     }
     .thankYou {
         font-size: 2.9vw;
     }
 }
 /* ================mobile view media query=============== */
 
 @media (max-width:500px) {
     .bar {
         Height: 3px;
         Width: 35px;
         Margin: 5px 8px;
     }
     .nav_bar .nav_list {
         margin: 0 4% 0 16%;
     }
     .nav_item {
         font-size: 1.5vw;
         padding: 15px 0px 10px 3px;
     }
     .club_name {
         font-size: 5.1vw;
     }
     /* ===============welcome page ===============*/
     .welcome_page {
         height: 100vw;
     }
     .welcome_page h1 {
         font-size: 8.5vw;
     }
     .welcome_page .welcome_button {
         width: 40vw;
         height: 7vw;
         font-size: 3.9vw;
     }
     /*=============== blog section ===============*/
     .section_box {
         width: 90%;
         height: 480px;
     }
     .section_name {
         font-size: 7.5vw;
     }
     .blog_section .section_box .blog_button {
         width: 200px;
         font-size: 3.7vw;
         height: 40px;
     }
     .blog_img {
         height: 200px;
         width: 300px;
     }
     .blog_topic {
         font-size: 7.7vw;
     }
     .blog_p {
         font-size: 3.3vw;
     }
     /* ==============feedback form ============== */
     .form_name {
         font-size: 9vw;
     }
     input {
         width: 280px;
         height: 33px;
         font-size: 15px;
     }
     textarea {
         font-size: 16px;
         width: 280px;
     }
     input[type=submit] {
         width: 300px;
         height: 40px;
         font-size: 4vw;
     }
     /* =============== footer =============== */
     .info p {
         font-size: 3.5vw;
     }
     .footer_icon i {
         font-size: 5.7vw;
     }
     .thankYou {
         font-size: 4vw;
     }
 }


